
/Kurssien_seurantajarjestelma/Kurssien_seurantajarjestelma/target/
/Kurssien_seurantajarjestelma/Kurssien_seurantajarjestelma/nbproject/
/Kurssien_seurantajarjestelma/Kurssien_seurantajarjestelma/nbactions.xml
