/laskarit/viikko2/Maksukortti/nbproject/private/
/laskarit/viikko2/Maksukortti/build/
/laskarit/viikko2/Unicafe/target
/laskarit/viikko2/Unicafe/nbproject/
/Kurssien_seurantajarjestelma/Kurssien_seurantajarjestelma/target/
/Kurssien_seurantajarjestelma/Kurssien_seurantajarjestelma/nbproject/